// Name: LAYOUT FILE
// Author: David Mandeeli
// Date Modified: March 7, 2013

// ==============================================================================

// SUSY SETTINGS

@import "susy"

$total-columns  : 14
$column-width   : 4em
$gutter-width   : 1em
$grid-padding   : $gutter-width

.main
  +container($total-columns)
  // +susy-grid-background

.whats
  +span-columns(6.8,14)

.platforms
  +span-columns(14,14)

.w-cont
  +span-columns(4.74,14)

.post-cont
  +span-columns(7,14)
  margin: 0 auto 1em
  
.contact_form
  ul
    +span-columns(8 omega,14)

  #about-contact
    +span-columns(7 omega, 14)
    float: left
  #about-project
    +span-columns(7 omega, 14)
    float: left
  #project-message
    +span-columns(14 omega, 14)
    float: left

.my_info
  +span-columns(5.0 omega,14)
  padding-right: 1.7em
  margin: 0 auto 2em
  height: 100%
  float: left

// Resume

#resume-container
  +span-columns(14,14)
  height: 100%

.pic-cont
  +span-columns(3 omega,14)
  float: left

section.lane
  +span-columns(11 omega,14)
  float: right

section.second-lane
  +span-columns(14 ,14)

  ul
    padding: 0

.m1
  height: 350px

.m2
  height: 270px

.m3
  height: 350px

.m4
  height: 430px

ul.design
  +span-columns(7 omega,14)
  float: right
  padding: 0

ul.code
  +span-columns(7 omega,14)
  float: left
  padding: 0
